body {
    background-color: #FF914D; 
    /*height: 100vh; */
/*   display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 60% 20%;
    */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    
}

#start-btn, #restart-btn {
    margin-top: 60px; 
    background-color: #511611;
    color: azure;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    border-color: white;
    width: 150px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    
}

#splash-screen {
    display: flex;
}

#my-canvas {
    background-color: lightgrey;
    display: none;
    
    margin-top: 15vh;
    
}



#game-over {
    display: none;
    width: 200vh;

}
 




/*
.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 60% 20%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
     
}

#splash-screen {
    height: 100vh;
    grid-column-start: 2;
   
       
}

#splash-screen img {
    width: 80vh;
}

#start-btn {
    display: inline;

}
*/

